/* HEADER */
.header__title--upper{
    font-size: 16px;
    text-transform: uppercase;
}
.header__title{
    font-size: 52px;
    font-weight: bold;
}
.header__description{
    font-size: 18px;
}

/* SERVICES */
.services__title{
    font-size: 96px;
    font-weight: bold;
}

/* ABOUT */
.about__title--upper{
    font-size: 24px;
    font-weight: 100;
}
.about__title{
    font-size: 48px;
    font-weight: bold;
}
.about__description{
    font-size: 18px;
}

/* LATEST PROJECTS */
.latest-projects__title{
    font-size: 36px;
    font-weight: bold;
}
.latest-projects__title--sub{
    font-size: 24px;
    font-weight: 100;
}
.latest-projects__card--title{
    font-size: 24px;
    font-weight: bold;
}
.latest-projects__card--description{
    font-size: 18px;
    font-weight: 100;
}

/* BLOG */
.blog__title{
    font-size: 40px;
    font-weight: bold;
}
.blog__title--lower{
    font-size: 28px;
}
.blog__description{
    font-size: 18px;
}

/* FOOTER */
.footer_title{
    font-size: 36px;
    font-weight: bold;
}


/* CONTACT PAGE */
.header--contact__title{
    font-size: 144px;
    font-weight: bold;
}
.main--contact__title{
    font-size: 64px;
    font-weight: bold;
}
/* CONTACT PAGE: FILTER */
.filterOption {
    display: none;
  }
.filterShow {
    display: block;
}