/* GENERAL */
body{
    color: #363636;
}

/* NAVBAR */
.navbar--position{
    position: absolute;
    z-index: 1;
    right: 0;
}
a.nav-link{
    font-weight: bold;
    color: #363636;
}
a.nav-link:hover{
    color: #e82e31;
}
/* HEADER */
.header__title--upper{
    font-size: 16px;
    text-transform: uppercase;
}
.header__title{
    font-size: 52px;
    font-weight: bold;
}
.header__description{
    font-size: 18px;
}

/* DUOTONE */
.duotone-card__img{
    width: 200px;
    height: 200px;
}
.duotone-card__filter{
    /* building */
    height: 300px;
    width: 200px;
    /* style */
    background-size: cover;
    background-position: center;
    transition: .5s ease;
    filter: grayscale(80%) drop-shadow(0px 0px 5px #000);
}
.duotone-card__filter:hover{
    filter: none;
}
.duotone-card__content{
    /* position */
    position: absolute;
    right: 0;
    bottom: 0;
    /* building */
    width: 100%;
    padding: 10px 0px 10px 10px;
    /* style*/
    background-color: #0c1f72;
    color: #fff;
}

/* SERVICES */
.services__title{
    font-size: 96px;
    font-weight: bold;
}
.services__img{
    width: 400px;
    height: 150px;
}
/* ABOUT */
.about__title--upper{
    font-size: 24px;
    font-weight: 100;
}
.about__title{
    font-size: 48px;
    font-weight: bold;
}
.about__description{
    font-size: 18px;
}

/* LATEST PROJECTS */
.latest-projects__title{
    font-size: 36px;
    font-weight: bold;
}
.latest-projects__title--sub{
    font-size: 24px;
    font-weight: 100;
}
.latest-projects__card__img{
    max-width: 350px;
    max-height: 450px;
    transition: all .2s ease-in-out;
}
.latest-projects__card__img:hover{ transform: scale(1.1); margin-bottom: 5%; }
.latest-projects__card--title{
    font-size: 24px;
    font-weight: bold;
    margin-top: 5%;
    color: #000;
    transition: all .2s ease-in-out;
}
.latest-projects__card--description{
    font-size: 18px;
    font-weight: 100;
    color: #000;
    transition: all .2s ease-in-out;
}
.latest-projects__card--a:hover,
.latest-projects__card--a p:hover{
    color: #44ccd3;
    text-decoration: none;
    transform: scale(1.1);
}

/* BLOG */
.blog__title{
    font-size: 40px;
    font-weight: bold;
}
.blog__title--lower{
    font-size: 28px;
}
.blog__description{
    font-size: 18px;
}

/* FOOTER */
.footer_title{
    font-size: 36px;
    font-weight: bold;
}
.footer__primary,
.footer__primary a{background-color: #4a4a4a; color: #fff;}
.footer__second{background-color: #363636;color: #fff;}
.list-group-item{background-color: transparent!important;border: 0!important;}


/* CONTACT PAGE */
.header--contact__bg{
    /* building */
    height: 300px;
    /* bg */
    background-size: cover;
    background-position: center;
    background-image: url('../img/contact.png');
    /* style */
    filter: grayscale(80%) drop-shadow(0px 0px 5px #000);
}
.header--contact__title{
    font-size: 144px;
    font-weight: bold;
    color: #ffffff;
}
.main--contact__title{
    font-size: 64px;
    font-weight: bold;
}
/* CONTACT PAGE: FILTER */
.filterOption {
    display: none;
  }
.filterShow {
    display: block;
}

/* PROJECTS PAGE */
.header--project__title{
    font-size: 144px;
    font-weight: bold;
}
.about--project__title-upper{
    font-size: 22px;
    font-weight: bold;
    color: #7D7D7D;
}
.about--project__title{
    font-size: 48px;
    font-weight: bold;
}
.about--project__table--thead{
    font-size: 24px;
    font-weight: bold;
}
.about--project__table--tbody{
    font-size: 20px;
    color: #969696;
}
.about--project__title--brief-idea{
    font-size: 36px;
    font-weight: bold;
}
.about--project__next-project{
    font-size: 96px;
    font-weight: bold;
}

@media only screen and (max-width: 1000px) {
    .header--home--img{max-width: 350px;}
    .header--projects__title{font-size: 64px;}
    .header--project__title{font-size: 64px;}
    .header--contact__title{font-size: 64px;}
    .main--contact__title{font-size: 48px;}
    .blog--home--image{max-width: 350px;}
}