body {
    font-family: 'Objectivity-Regular';
}
.default_title {
    font-family: 'Objectivity-Bold';
    font-size: 52px;
}

/* HEADER */
.header_content {
    margin: 15%;
}
.header_uppertittle {
    text-transform: uppercase;
    font-size: 16px;
}
.header_title{
    font-size: 52px;
}
.header_description {
    font-size: 18px;
}
.header_img {
    background-image: url('../img/me.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom-left-radius: 25%;
    height: 800px;
}
.header_btn {
    background-color: #746B67;
    color: #ffffff;
    border-radius: 12px;
    border: none;
    padding: 10px 20px;
    font-size: 20px;
    font-family: 'Objectivity-Light';
}

/* HABILITIES SECTION */
.habilities_section{
    background-image: url('../img/bg_cards_habilities.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.habilities_card{
    background-color: #D9B9A7;
    color: #ffffff;
}
.habilities_card_title {
    font-family: 'Objectivity-Bold';
}

/* PRIORITIES SECTION */
.priorities_img{
    background-image: url('../img/bg_priorities.png');
    background-repeat: no-repeat;
    background-size: contain;
    height: 472px;
}
.priorities_img p{
    font-family: 'Objectivity-Bold';
    font-size: 44px;
}
.priorities_title {
    font-family: 'Objectivity-Bold';
    font-size: 52px;
}
.priorities_span {
    font-family: 'Objectivity-Bold';
}

/* LEARN MORE */

/* CLIENTS */

/* BEST STUDY PROJECTS */

/* CALL TO ACTION */
.call_to_action {
    background-color: #D9B9A7;
}
.call_to_action_text{
    font-family: 'Objectivity-Light';
    font-size: 36px;
    color: #ffffff;
}
.call_to_action_btn_contact{ background-color: #BFA58E; color: #ffffff; }
.call_to_action_btn_friends{ background-color: #ffffff; color: #BFA58E; border: 1px solid #BFA58E; }

/* FOOTER */
footer {
    background-color: #261712;
    color: #ffffff;
}
.footer_border_bottom {
    border-bottom: 1px solid #ffffff;
}
.copyrights {
    font-family: 'Objectivity-Light';
    font-size: 10px;
}

@media (max-width: 1000px){
    /* HEADER */
    .header_title { font-size: 45px; margin-bottom: 3rem; }
    .header_btn { margin-top: 2rem; }
    .header_img {
        border-radius: 0px;
        height: 300px;
    }
    
    /* PRIORITIES SECTION */
    .priorities_img { height: 200px; }
    .priorities_img p{ font-size: 24px; }
    .priorities_title {font-size: 32px;}
}