/* GENERAL STUFF */
a {
  color: red;
  text-decoration: none;
}
/* BANNER STUFF */
#banner {
  background-color: rgba(0, 0, 0, 0.5);
  height: 76px;
  padding: 30px 70px 30px 70px;
}

#banner h1 {
  float: left;
  margin: 0;
}

#banner nav {
  float: right;
  position: relative;
  top: 30px;
}

#banner ul {
  margin: 0;
}

#banner nav ul li {
  display: inline-block;
  width: 100px;
}

#banner nav ul li a {
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
}
