/* text */
a:hover{ text-decoration: none; }
.text-darkred{ color: #b31e1e; }
.text-darkred:hover{ color: #ff9d9d; }

/* img */
.bg-forest{
  background-image: url('forest_darker.png');
  background-size: cover;
  background-position: center;
  min-height: 25rem;
}

.image-scroll {
  width: auto;
  height: 200px;
  background-size: 100%;
  background-position-x: 0;
  background-repeat: no-repeat;
  transition: all 10s ease;
}
.image-scroll:hover {
  background-position-y: 100%;
}

.image-about{
  background-image: url('img/sloth.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 20rem;
}

div.card{ box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }
.card-dark{
  background-color: black;
  color: white;
}

/* header*/
.header {
  line-height: 1;
  border-bottom: 1px solid #e5e5e5;
}

.header-logo {
  font-family: "Playfair Display", Georgia, "Times New Roman", serif;
  font-size: 1.5rem;
}

.header-logo:hover {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Playfair Display", Georgia, "Times New Roman", serif;
}

.display-4 {
  font-size: 2.5rem;
}
@media (min-width: 768px) {
  .display-4 {
    font-size: 3rem;
  }
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.nav-scroller .nav-link {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: .875rem;
}

.card-img-right {
  height: 100%;
  border-radius: 0 3px 3px 0;
}

.flex-auto {
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.h-250 { height: 250px; }
@media (min-width: 768px) {
  .h-md-250 { height: 250px; }
}

/* portfolio */
.bg-portfolio{
  background-image: url('img/adab/banner1.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.jumbotron {
  padding-top: 3rem;
  padding-bottom: 3rem;
  margin-bottom: 0;
  color: white;
}
@media (min-width: 768px) {
  .jumbotron {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron h1 {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
}

/* Footer */
.footer {
  padding: 2.5rem 0;
  color: #fff;
  text-align: center;
  background-color: #000;
  border-top: .05rem solid #e5e5e5;
}


/* show gospel */
.card-showGospel{
  background-color: #000000a8;
  color: white;
}
.bg-showGospel{
  background-image: url('img/showGospel/bg.png');
  background-position: center;
  background-size: contain;
}
.bg-showgospel-home{
  background-image: url('img/showGospel/home.png');
  background-size: cover;
}
.bg-showgospel-contato{
  background-image: url('img/showGospel/contato.png');
  background-size: cover;
}
.bg-showgospel-edicoes{
  background-image: url('img/showGospel/edicoes.png');
  background-size: cover;
}
.bg-showgospel-posts{
  background-image: url('img/showGospel/posts.png');
  background-size: cover;
}
.bg-showgospel-servicos{
  background-image: url('img/showGospel/servicos.png');
  background-size: cover;
}
.bg-showgospel-sobre{
  background-image: url('img/showGospel/sobre.png');
  background-size: cover;
}
.bg-showgospel-videos{
  background-image: url('img/showGospel/videos.png');
  background-size: cover;
}

/*
 * Dummy devices (replace them with your own or something else entirely!)
 */

 .mockup-showgospel {
  position: absolute;
  right: 10%;
  bottom: -30%;
  width: 300px;
  height: 540px;
  background-color: #333;
  border-radius: 21px;
  -webkit-transform: rotate(30deg);
  transform: rotate(30deg);
}

.mockup-showgospel::before {
  position: absolute;
  top: 10%;
  right: 10px;
  bottom: 10%;
  left: 10px;
  content: "";
  background-image: url(img/showGospel/home.png);
  background-position: center;
  background-size: cover;
  border-radius: 5px;
}

.mockup-showgospel-2 {
  top: -25%;
  right: auto;
  bottom: 0;
  left: 5%;
  background-color: #e5e5e5;
}
.mockup-showgospel-2::before {
  background-image: url(img/showGospel/edicoes.png);
  background-position: center;
  background-size: cover;
}


/* Extra utilities */

.flex-equal > * {
  -ms-flex: 1;
  flex: 1;
}
@media (min-width: 768px) {
  .flex-md-equal > * {
    -ms-flex: 1;
    flex: 1;
  }
}

.overflow-hidden { overflow: hidden; }
