:root{
    --body-text: #363636;
    --link: #44ccd3;
    --link-hover: #269197;
    --footer-bg-primary: #222222;
    --footer-bg-secondary: #4a4a4a;
}
/* GENERAL */
body{
    color: var(--body-text);
}
img{max-width: -webkit-fill-available;}
a{color: var(--link);}
a:hover{color: var(--link);font-weight: bold;text-decoration: none;}
.section__margin{
    margin-top: 10%;
    margin-bottom: 10%;
}

.title--default{
    font-size: clamp(2em, 2em + 1vw, 3em);
    font-weight: bold;
}
.title--default--upper{
    font-size: clamp(1em, 1em + 1vw, 1.5em);
    font-weight: 100;
}
.text--default{font-size: clamp(1em, 1em + 1vw, 1.1em);}

/* NAVBAR */
.navbar--position{
    position: absolute;
    z-index: 1;
    right: 0;
}
a.nav-link{
    font-weight: bold;
    color: #363636;
}
a.nav-link:hover{
    color: #e82e31;
}
.navbar-dark .navbar-nav .active>.nav-link, .navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .show>.nav-link
{color: var(--link)!important;}
.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover
{color: var(--link-hover)!important;}
/* HEADER */
.header__title--upper{
    font-size: clamp(1em, 1em + 1vw, 1em);
    text-transform: uppercase;
}
.header__title{
    font-size: clamp(2em, 3em + 1vw, 4em);
    font-weight: bold;
}
.header__bg--home{
    /* building */
    /* position */
    height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* typography */
    color: #ffffff;
    /* style */
    background-image: url('../img/software-source-coding-panel-metallic-floor.jpg');
    background-size: cover;
}

/* DUOTONE */
.duotone-card__img{
    width: 200px;
    height: 200px;
}
.duotone-card__filter{
    /* building */
    height: 300px;
    width: 200px;
    /* style */
    background-size: cover;
    background-position: center;
    transition: .5s ease;
    filter: grayscale(80%) drop-shadow(0px 0px 5px #000);
}
.duotone-card__filter:hover{
    filter: none;
}
.duotone-card__content{
    /* position */
    position: absolute;
    right: 0;
    bottom: 0;
    /* building */
    width: 100%;
    padding: 10px 0px 10px 10px;
    /* style*/
    background-color: #801717;
    color: #fff;
}

/* SERVICES */
.services__title{
    font-size: 96px;
    font-weight: bold;
}
.services__img{
    max-width: 400px;
    max-height: 150px;
}

/* LATEST PROJECTS */
.latest-projects__title--sub{
    font-size: clamp(1em, 1em + 1vw, 2em);
    font-weight: 100;
    transition: 0.2s;
}
.latest-projects__card__img{transition: all .2s ease-in-out;}
.latest-projects__card__img:hover{ transform: scale(1.1); margin-bottom: 5%; }
.latest-projects__card--title{
    font-size: clamp(1em, 1.5em + 1vw, 2em);
    font-weight: bold;
    margin-top: 5%;
    color: #000;
    transition: all .2s ease-in-out;
}
.latest-projects__card--description{
    font-size: clamp(1em, 1em + 1vw, 1.5em);
    font-weight: 100;
    color: #000;
    transition: all .2s ease-in-out;
}
.latest-projects__card--a:hover,
.latest-projects__card--a p:hover{
    color: var(--link);
    text-decoration: none;
    transform: scale(1.1);
}

/* BLOG */
.blog__title--lower{font-size: clamp(1em, 1em + 1vw, 2em);}

/* FOOTER */
.footer_title{
    font-size: clamp(1em, 2em + 1vw, 2.3em);
    font-weight: bold;
}
.footer__primary,
.footer__primary a{background-color: var(--footer-bg-primary); color: #fff;}
.footer__second{background-color: var(--footer-bg-secondary); color: #fff;}
.footer__second p{font-size: 12px; font-style: italic;}
.list-group-item{background-color: transparent!important;border: 0!important;}
.footer__social-media--icon:hover{transform: scale(1.5);transition: 0.2s;}

/* CONTACT PAGE */
.header--contact__bg{background-image: url('../img/contact.png');filter: grayscale(80%) drop-shadow(0px 0px 5px #000);}
.header--contact__title{color: #ffffff;}
.main--contact__title{
    font-size: 64px;
    font-weight: bold;
}
/* CONTACT PAGE: FILTER */
.filterOption {
    display: none;
  }
.filterShow {
    display: block;
}

/* PROJECTS PAGE */
.header--project__title{
    font-size: 144px;
    font-weight: bold;
}
.about--project__title-upper{
    font-size: 22px;
    font-weight: bold;
    color: #7D7D7D;
}
.about--project__title{
    font-size: 48px;
    font-weight: bold;
}
.about--project__table--thead{
    font-size: 24px;
    font-weight: bold;
}
.about--project__table--tbody{
    font-size: 20px;
    color: #969696;
}
.about--project__title--brief-idea{
    font-size: 36px;
    font-weight: bold;
}
.about--project__next-project{
    font-size: 96px;
    font-weight: bold;
}

@media only screen and (max-width: 1000px) {
    /* NAVBAR */
    .navbar--position{
        width: 100%;
        background-color: #00000080;
    }
    .header--home--img{max-width: 350px;}
    .header--home__box{background-color: #00000091;padding: 5%;margin-top: 30%;}
    .services__title{font-size: 64px;}
    .services__img{width: 300px;}
    .header--projects__title{font-size: 64px;}
    .header--project__title{font-size: 64px;}
    .header--contact__title{font-size: 64px;}
    .main--contact__title{font-size: 48px;}
}

/* GENERAL INTERN PAGES*/
.header--intern{
    /* building */
    height: 300px;
    /* position */
    display: flex;
    justify-content: center;
    align-items: center;
}
.header--intern__title{
    font-size:  clamp(1em, 4em + 5vw, 15em);
    font-weight: bold;
}
.header--intern__title--big{font-size:clamp(1em, 2em + 5vw, 10em);font-weight: bold;}

/* ABOUT PAGE */
:root{counter-reset: questions;}
.about--question{counter-increment: questions;}
.about--question::before{content:counter(questions);font-size: clamp(1em, 1em + 1vw, 2em);font-weight: bold;}
/* WORK PAGE */
.header--projects__title{color: #fff;}
.header--projects__bg{background-color: black;}


/* SLIDER */
.slider__img{
    height: 600px;
}
/* Hide the images by default */
.mySlides {
    display: none;
    text-align: center;
}
/* Add a pointer when hovering over the thumbnail images */
.cursor {
    cursor: pointer;
}
/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Container for image text */
.slider__caption-container {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;
}

.row-slide:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.column-slide {
  float: left;
  width: 16.66%;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

/* parallax: you need to add parallax + parallax--your-variation to function */
.parallax{
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.parallax--show-gospel{
    background-image: url("../img/show-gospel/bg.png");
    min-height: 500px;
}